#carouselExampleIndicators{
    width:500px;
    height:300px;
    margin-top: 50px;
    margin-left: 500px;
}
.pm1{
    margin-top:30px;
    margin-left:235px;
    height:225px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm2{
    margin-top:30px;
    margin-left:235px;
    height:310px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm3{
    margin-top:30px;
    margin-left:235px;
    height:275px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm4{
    margin-top:30px;
    margin-left:235px;
    height:420px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm5{
    margin-top:30px;
    margin-left:235px;
    height:170px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm6{
    margin-top:30px;
    margin-left:235px;
    height:170px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm7{
    margin-top:30px;
    margin-left:235px;
    height:170px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm8{
    margin-top:30px;
    margin-left:235px;
    height:300px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm9{
    margin-top:30px;
    margin-left:235px;
    height:170px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm10{
    margin-top:30px;
    margin-left:-250px;
    height:235px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm11{
    margin-top:30px;
    margin-left:-250px;
    height:300px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm12{
    margin-top:30px;
    margin-left:-250px;
    height:320px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm13{
    margin-top:30px;
    margin-left:-250px;
    height:170px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.pm14{
    margin-top:30px;
    margin-left:-250px;
    height:170px;
    width:1000px;
    padding:50px;
    background-color: white;
}