.resimp1{
    margin-top:30px;
    margin-left:235px;
    height:225px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.resimp2{
    margin-top:30px;
    margin-left:235px;
    height:240px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.resimp3{
    margin-top:30px;
    margin-left:235px;
    height:225px;
    width:1000px;
    padding:50px;
    background-color: white;
}