#carouselExampleIndicators{
    width:1000px;
    height:600px;
    margin-top: 50px;
    margin-left: 240px;
}
.ps1{
    margin-top:30px;
    margin-left:235px;
    height:225px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.ps2{
    margin-top:30px;
    margin-left:235px;
    height:395px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.ps3{
    margin-top:30px;
    margin-left:235px;
    height:225px;
    width:1000px;
    padding:50px;
    background-color: white;
}
.ps4{
    margin-top:30px;
    margin-left:235px;
    height:170px;
    width:1000px;
    padding:50px;
    background-color: white;
    margin-bottom:30px;
}